 @media only screen and (min-width: 1200px) {
  .d3Card-fullscreen{
  	width: 50%;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.d3-dark-primary {
	background-color: #261C2C;
	color: white;
}

.d3-dark-secondary {
	background-color: #5C527F !important;
	/* 
	#3E2C41
	#5C527F
	#6E85B2 */
}

.d3-dark-third {
	background-color: #6E85B2;
}

.d3-dark-nav {
	background-color: #3E2C41;
}

.btn-outline-dark-d3 {
	color: #6E85B2 !important;
}

.btn-outline-dark-d3:hover {
	color: white !important;
}

.d3Card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 20px;
	/* padding: 30px; */
	border-radius: 10px;
}

.d3Card-fullscreen {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 95%;
	/*height: 100vh;*/
	padding: 25px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 10px;
}

.d3CardRegister {
	background-color: #3E2C41;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	height: 500px;
	width: 500px;
	margin: auto;
	margin-top: 40px;
}

.sidePadding {
	padding-right: 25px;
	padding-left: 25px;
}

a.h2:link, a.h2:visited {
	text-decoration: none;
	color: white;
}

a.h2:hover, a.h2:active {
	text-decoration: none;
	color: #5C527F;
}

.inputRounded {
	border-radius: 5px;
	border: 0;
	box-shadow: 4px 4px 3px
}

.stickyDiv {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	margin: auto;
	background-color: white;
}

.stickyDiv-inner {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: -90;
	margin: auto;
	background-color: white;
}

.stickyDiv-bottom {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
	margin: auto;
	background-color: white;
}

/* Input  */
.textbox-transparent {
	display: block;
	margin:auto;
	background: transparent;
	width: 55px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	padding: 8px;
}

/* Headers */
.Brand {
	color: white;
	background-color: black;
}

.UVBrand {
	color: white;
	background-color: #c39bd3;
}

/* Glass Type Colors */
.item-cell {
	color: white;
}

.glass-Standard {
	background-color: #d4ac0d;
}

.glass-Privacy {
	background-color: #7FB3D5;
}

.glass-FCFA {
	background-color: #EC7063;
}

.glass-camera {
	
}

.glass-tablet {
	
}

.glass-sideAdhesive {
	
}

.glass-UV {
	background-color: #c39bd3;
}