<!-- <%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%> -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<title>RedZombie Inventory</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="">
	<!-- Top Bar -->
	<div class="d3Card stickyDiv">
		<div class="row">
			<div class="col" th:include="_layout/navbar :: #navigationFragment"></div>
		</div>
		<hr />
		<div class="row sidePadding">
			<div class="col">
				<h3>Name</h3>
			</div>
			<div class="col">
				<p class="h3 text-center">Expected Total</p>
			</div>
			<div class="col">
				<p class="h3 text-center">Actual Total</p>
			</div>
			<div class="col">
				<p class="h3 text-center">Coming</p>
			</div>
			<div class="col">
				<p class="h3 text-center">Order Circle</p>
			</div>
			<div class="col">
				<p class="h3 text-center">Offset</p>
			</div>
		</div>
	</div>




	<div class="row sidePadding">
		<div class="col" style="padding: 30px 20px; margin: auto;">
			<!-- Sticky section to show titles -->


			<th:block th:each="item : ${items}">
				<!-- This happens when brand name changes -->
				<div class="row d3Card" th:if="${item.isBrandOnly}" th:classappend="Brand ">
					<h2 th:text="${item.brand}"></h2>
				</div>

				<div class="row d3Card item-cell" th:unless="${item.isBrandOnly}"
					th:classappend="
				(${item.glass_type} == 'Standard' ? glass-Standard : '' ) +
				(${item.glass_type} == 'Privacy' ? glass-Privacy : '' ) +
				(${item.glass_type} == 'FCFA' ? glass-FCFA : '' ) +
				(${item.glass_type} == 'Camera' ? glass-camera : '' ) +
				(${item.glass_type} == 'Tablet' ? glass-tablet : '' )+
				(${item.glass_type} == 'SideAdhesive' ? glass-sideAdhesive : '') + 
				(${item.glass_type} == 'UV' ? glass-UV : '')">
					<div class="col">
						<a href="index.html" style="color: white"
							th:href="@{/items/itemInfo/{itemID}(itemID=${item.item_id})}"
							th:text="${item.name}"></a> <br /> <label th:text="${item.sku}"
							style="font-size: 12px"></label> || <label
							th:text="${item.barcode}" style="font-size: 12px"></label>
					</div>
					<div class="col">
						<p class="text-center" style="padding-top: 15px"
							th:text="${item.expectedTotal}"></p>
					</div>
					<!-- ?? Create a form here that will call javascript methods to auto submit onChange 
					in order in order for a java method be called & update the invenotry amount -->
					<div class="col">
						<!-- <p th:text="${item.expectedTotal}"></p> -->
						<input class="textbox-transparent" type="text" th:onchange=""
							maxlength="4" th:if="${isNow}" th:value="${item.actualTotal}"></input>
						<p class="text-center" style="padding-top: 15px" th:unless="${isNow}" th:text="${item.actualTotal}"></p>
					</div>
					<div class="col">
						<input class="textbox-transparent" style="color: red" type="text"
							th:onchange="" maxlength="4" th:if="${isNow}" th:value="${item.coming}"></input>
							<p class="text-center" style="padding-top: 15px" th:unless="${isNow}" th:text="${item.coming}"></p>
					</div>
					<div class="col">
						<p class="text-center" style="padding-top: 15px"
							th:text="${item.orderCircleTotal}"></p>
					</div>
					<div class="col">
						<p class="text-center" style="padding-top: 15px"
							th:text="${item.offset}"></p>
					</div>
				</div>
			</th:block>
		</div>
	</div>


	<!-- Bottom Tab Bar  -->
	<div class="d3Card stickyDiv-bottom">
		<div class="row sidePadding"
			style="background-color: #f8f8ff; height: 50px; overflow: auto; white-space: nowrap;">
			<div class="col">
				<div style="width: 20px"></div>
				<a href="index.html" th:href="@{/}" class="btn btn-outline-dark" style="margin-top:5px;">Now</a>
				<th:block th:each="month : ${months}"
					style="padding: 0px 10px;">
					<a href="index.html" th:href="@{/previousMonth/{accessCode}(accessCode=${month.access})}" th:text="${month.access}"
						class="btn btn-outline-dark" style="margin-top:5px;"></a>
				</th:block>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
		integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
		crossorigin="anonymous">
		
	</script>

</body>



</html>